<div class="row justify-content-center">
  <div class="col-8">
    <form name="activitiForm" role="form" novalidate (ngSubmit)="save()" #activitiForm="ngForm">
      <h2 id="myUserLabel">
        Activiti Form
      </h2>
      <div>
        <l2l-alert-error></l2l-alert-error>
        <div  *ngFor="let field of formDefinition.fields">
          <div class="form-group" *ngif="field.type == 'string'" [hidden]="!field.id">
            <label>{{field.name}}</label>
            <input type="text" class="form-control" name="id"
                   [(ngModel)]="field.value">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
